node_modules/
frontend/node_modules/
frontend/.next/
frontend/out/
out/
cache/
broadcast/
.env
.env.*
.DS_Store
Thumbs.db
*.log
/lib/
frontend/node_modules/
frontend/.next/
node_modules/
out/
cache/
broadcast/

